#results {
    display:none;
  }

body {
    background-color: #606c38;
}
.container {
    background-color: #283618;
    padding-bottom: 100px;
}
.card {
    background-color: #fefae0;
}
h1, label, input, h5 {
    font-family: "Anek Devanagari", sans-serif;
} 
